@import "tailwindcss";
@import "@fontsource/inter/latin.css";

body {
  background-color: #f5f5f5; 
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-sans: "Inter", system-ui, sans-serif;
}

